<br>
{{#errors}}
    {{errors.file}}
    {{errors.files}}
{{/errors}}

{{#output}}
    CustomerId: {{customer_id}}
    {{#continent}}
        Continent: {{continent}}
        <br>
        Duration: {{duration}}
        <br>
        Calls: {{calls}}
        <br>
        <br>
    {{/continent}}
    <br>
    TotalCalls: {{total_calls}}
    <br>
    TotalDuration: {{total_duration}}
    <br>
    <br>
    <br>
{{/output}}
